@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@plugin "@tailwindcss/forms";

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }
  &:where([data-theme="device"], [data-theme="device"] *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

.expressive-code {
  width: 100%;
}

html {
  /* Enables container query units (e.g., 100cqw) for layout calculations in main. */
  container-type: inline-size;
}

:root {
  --maximum-text-width: 50rem;
  --minimum-inline-margin: 1.5rem;
  --actual-inline-margin: max(
    var(--minimum-inline-margin),
    (100cqw - var(--maximum-text-width)) / 2
  );
  --actual-text-width: calc(100cqw - 2 * var(--actual-inline-margin));
}

main {
  margin-inline: var(--actual-inline-margin);
}

.full-bleed,
main .katex-display {
  margin-inline: calc(var(--actual-inline-margin) * -1);
}

.katex-display {
  overflow: auto hidden;
}

.katex-display > .katex > .katex-html {
  padding-inline: 1.5rem;
  width: max-content;
  margin-inline: auto;
}

/* Bibliography */
.csl-entry {
  margin-block: 1.5rem;
  text-indent: -2rem;
  margin-left: 2rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-accent: var(--primary-accent);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-accent: var(--secondary-accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-outline: var(--outline);

  --radius-xs: calc(var(--radius) - 0.375rem);
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --radius-2xl: calc(var(--radius) + 0.5rem);
  --radius-3xl: calc(var(--radius) + 1rem);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-950);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-950);
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-950);
  --primary: var(--color-blue-700);
  --primary-foreground: var(--color-zinc-50);
  --primary-accent: var(--color-blue-700);
  --secondary: var(--color-fuchsia-700);
  --secondary-foreground: var(--color-zinc-50);
  --secondary-accent: var(--color-fuchsia-700);
  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-600);
  --accent: var(--color-zinc-100);
  --accent-foreground: var(--color-zinc-900);
  --info: var(--color-sky-300);
  --info-foreground: var(--color-sky-950);
  --success: var(--color-green-300);
  --success-foreground: var(--color-green-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-red-700);
  --error-foreground: var(--color-zinc-50);
  --border: var(--color-zinc-200);
  --input: var(--color-zinc-200);
  --outline: var(--color-zinc-400);
  --radius: 0.625rem;
}

.dark {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);
  --card: var(--color-zinc-900);
  --card-foreground: var(--color-zinc-50);
  --popover: var(--color-zinc-800);
  --popover-foreground: var(--color-zinc-50);
  --primary: var(--color-blue-700);
  --primary-foreground: var(--color-zinc-50);
  --primary-accent: var(--color-blue-400);
  --secondary: var(--color-fuchsia-700);
  --secondary-foreground: var(--color-zinc-50);
  --secondary-accent: var(--color-fuchsia-400);
  --muted: var(--color-zinc-800);
  --muted-foreground: var(--color-zinc-400);
  --accent: var(--color-zinc-700);
  --accent-foreground: var(--color-zinc-100);
  --info: var(--color-sky-300);
  --info-foreground: var(--color-sky-950);
  --success: var(--color-green-300);
  --success-foreground: var(--color-green-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-red-800);
  --error-foreground: var(--color-zinc-50);
  --border: --alpha(var(--color-zinc-50) / 10%);
  --input: --alpha(var(--color-zinc-50) / 15%);
  --outline: var(--color-zinc-500);
}

@layer base {
  * {
    @apply border-border outline-outline/50 wrap-break-word;
  }
  button {
    @apply cursor-pointer;
  }
}
