@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
  &:where([data-theme="device"] *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

.expressive-code {
  width: 100%;
}

body > main > * {
  max-width: 50rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.full-width {
  max-width: none;
}

.katex-display {
  overflow: auto hidden;
  padding-inline: 0;
}

.katex-display,
.katex-display > .katex,
.katex-display > .katex > .katex-html {
  max-width: none;
}

.katex-display > .katex > .katex-html {
  padding-inline: 1.5rem;
  width: max-content;
  margin-inline: auto;
}
