@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* eslint-disable css/use-baseline -- It's alright to use selector nesting here */
@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
  &:where([data-theme="device"] *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}
/* eslint-enable css/use-baseline */

.expressive-code {
  width: 100%;
}

html {
  /* Enables container query units (e.g., 100cqw) for layout calculations in main. */
  container-type: inline-size;
}

:root {
  --maximum-text-width: 50rem;
  --minimum-inline-margin: 1.5rem;
  --actual-inline-margin: max(
    var(--minimum-inline-margin),
    (100cqw - var(--maximum-text-width)) / 2
  );
  --actual-text-width: calc(100cqw - 2 * var(--actual-inline-margin));
}

main {
  margin-inline: var(--actual-inline-margin);
}

.full-bleed,
main .katex-display {
  margin-inline: calc(var(--actual-inline-margin) * -1);
}

.katex-display {
  overflow: auto hidden;
}

.katex-display > .katex > .katex-html {
  padding-inline: 1.5rem;
  width: max-content;
  margin-inline: auto;
}
