<div class="slide-viewport">
  <div class="slide [&>*]:my-0">
    <slot />
  </div>
</div>

<style>
  :root {
    --slide-gap: 1rem;
  }

  .slide-viewport {
    padding-inline: calc(var(--slide-gap) / 2);
  }

  .slide {
    scroll-snap-align: start;
    width: var(--actual-text-width);
  }
</style>
