---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className = "", ...props } = Astro.props;
---

<div class={`swiper-slide first:mt-0 ${className}`} {...props}>
  <slot />
</div>
