---
import { CopyCodeButton } from "./CopyCodeButton";
---

<div class="px-6 w-full">
  <pre
    class="group relative flex flex-col whitespace-pre overflow-auto p-4 rounded-lg w-full astro-code astro-code-themes github-light github-dark bg-zinc-200 dark:bg-zinc-800">
    <CopyCodeButton client:load><slot /></CopyCodeButton>
    <slot />
  </pre>
</div>
