---

---

<figure>
  <div
    class="not-prose *:max-h-[35rem] *:object-contain flex justify-center w-full"
  >
    <slot name="figure" />
  </div>
  <figcaption class="text-center">
    <slot name="caption" />
  </figcaption>
</figure>
