---
interface Props {
  caption: string;
}

const { caption } = Astro.props;
---

<figure class="self-center w-full flex flex-col gap-2">
  <div
    class="[&>*]:max-h-[35rem] [&>*]:object-contain flex justify-center rounded-lg w-full overflow-hidden"
  >
    <slot />
  </div>
  <figcaption class="text-center text-zinc-700">
    {caption}
  </figcaption>
</figure>
