---

---

<section
  class="!max-w-full !px-0 py-6 w-full mx-0 flex justify-center bg-zinc-200 dark:bg-zinc-800"
>
  <div
    class="flex flex-col gap-4 items-center w-full max-w-[60rem] [&>h2]:mt-0 px-6"
  >
    <slot />
  </div>
</section>
