---

---

<section
  class="relative right-1/2 left-1/2 -mx-6 -mr-[50vw] -ml-[50vw] w-screen max-w-none bg-zinc-200 py-8 dark:bg-zinc-800"
>
  <div
    class="mx-auto max-w-[50rem] px-6 [&>:first-child]:mt-0 [&>:last-child]:mb-0"
  >
    <slot />
  </div>
</section>
