---

---

<section
  class="bg-zinc-200 dark:bg-zinc-800 -mx-6 max-w-none w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] py-8"
>
  <div
    class="max-w-[50rem] mx-auto px-6 [&>:first-child]:mt-0 [&>:last-child]:mb-0"
  >
    <slot />
  </div>
</section>
