---
import katex from "katex";
import "katex/dist/katex-swap.css";

interface Props {
  formula: string;
  inline?: boolean;
}

const { formula, inline = false } = Astro.props;
const html = katex.renderToString(formula);
---

{
  inline ? (
    <span set:html={html} />
  ) : (
    <div class="text-center">
      <span set:html={html} />
    </div>
  )
}
