---
import type { Note } from "../types/types";

interface Props {
  notes: Note[];
}

const { notes } = Astro.props;
---

<div class="text-center text-sm">
  {
    notes.map((note, index, array) =>
      // prettier-ignore
      <span>
        <sup>{note.symbol}</sup>{note.text}{index < array.length - 1 ? "," : ""}
      </span>
    )
  }
</div>
