---
// The Astro VS Code extension uses Prettier to format Astro files, including this one. For some reason, formatting this file adds a new line in between `{note.symbol}` and `{note.text}`, even though, as far as I can tell, this shouldn't happen if it's in a `span` tag. This causes there to be a space in between the symbol and the text in the final HTML.
// https://prettier.io/docs/options#html-whitespace-sensitivity
// To get around this, either disable formatting on save or press `Cmd+Shift+P` and select "File: Save without Formatting".

import type { Note } from "../types/types";

interface Props {
  notes: Note[];
}

const { notes } = Astro.props;
---

<div class="text-sm text-center">
  {
    notes.map((note, index, array) => (
      <span>
        <sup>{note.symbol}</sup>{note.text}{index < array.length - 1 ? "," : ""}
      </span>
    ))
  }
</div>
