---

---

<div class="flex flex-wrap gap-4 items-center">
  <div class="flex-1 min-w-[16rem]">
    <slot name="left" />
  </div>
  <div class="flex-1 min-w-[16rem]">
    <slot name="right" />
  </div>
</div>
