---
// TODO: when the page is narrow enough, figures with images don't have any horizontal padding
---

<div class="flex w-full flex-wrap items-center gap-4">
  <div class="min-w-[16rem] flex-1">
    <slot name="left" />
  </div>
  <div class="min-w-[16rem] flex-1">
    <slot name="right" />
  </div>
</div>
