---
// TODO: when the page is narrow enough, figures with images don't have any horizontal padding
---

<div class="flex flex-wrap gap-4 items-center w-full">
  <div class="flex-1 min-w-[16rem]">
    <slot name="left" />
  </div>
  <div class="flex-1 min-w-[16rem]">
    <slot name="right" />
  </div>
</div>
