---
interface Props {
    source: string
}

const { source } = Astro.props
---

<div class="flex w-full justify-center">
    <video
        class="aspect-video h-auto w-full rounded-lg"
        controls
        loop
        playsinline
    >
        <source src={source} type="video/mp4" />
    </video>
</div>
