---
interface Props {
  source: string;
}

const { source } = Astro.props;
---

<div class="w-full flex justify-center">
  <video
    class="w-full h-auto aspect-video rounded-lg"
    autoplay
    controls
    muted
    loop
  >
    <source src={source} type="video/mp4" />
  </video>
</div>
